[elk]
${elk_ip} ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/my_default_keypair.pem

[client]
${client_ip} ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/my_default_keypair.pem

[all:vars]
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
